/* Typography
  * ========================================================================== */
html,
body {
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  line-height: 1.4375;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  line-height: 1.125;
}

p {
  margin-top: 0;
}

/* Colors
  * ========================================================================== */
body {
  background: #f7f7f7;
  color: #232425;
}

a {
  color: #3569a4;
}

/* Buttons
  * ========================================================================== */
.btn,
button,
input[type='submit'] {
  margin: 1.5rem 0 0;
  padding: 0.5375rem 1rem 0.6125rem;
  font-size: 0.875em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 0;
  border-radius: 2px;
  background: #3569a4;
  color: #fff;
  text-decoration: none;
  transition: background 0.25s;
}

.btn:hover,
button:hover,
input[type='submit']:hover {
  background: #275181;
  color: #fff;
  cursor: pointer;
}

a.btn {
  display: table;
}

/* Links
  * ========================================================================== */
a:hover {
  color: #275181;
  text-decoration: none;
}

/* Layout
  * ========================================================================== */
html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Elements
  * ========================================================================== */
ul,
ol {
  margin: 0 0 0 1.25rem;
  padding: 0;
  list-style: square;
  font-size: 0.875em;
}

/* Forms
  * ========================================================================== */
form {
  border: 1px solid #b4b4b5;
  padding: 1rem;
}

label {
  font-size: 0.8125em;
}

select {
  padding: 3px;
}

/* Components
  * ========================================================================== */

.component-wrapper {
  padding-bottom: 2.5rem;
}

.component-wrapper .feature-img {
  height: 30vh;
  min-height: 200px;
  max-height: 450px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.component-wrapper .feature-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-wrapper > article {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.component-wrapper .article-header h1 {
  margin-bottom: 0.25rem;
}

.article-header,
.article-wrapper {
  padding: 0 0.75rem;
  margin: 0 auto;
  max-width: 70em;
}

.component-home {
  flex: 1 1 auto;
  padding: 0;
  display: flex;
  width: 100%;
}

/* Cards
  * ========================================================================== */
.card {
  padding: 0.75rem 0;
}

.card > div {
  margin: 0.75rem;
  padding: 1rem 1.5rem;
  height: 100%;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.card .status,
.card .launch-success {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding: 0.625rem 0.625rem 0.5rem;
  border-width: 1px;
  border-style: solid;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.05625em;
  text-transform: uppercase;
}

.card .status.active,
.card .launch-success.successful {
  border-color: #28a745;
  color: #28a745;
}

.card .status.inactive,
.card .launch-success.unsuccessful {
  border-color: #dc3545;
  color: #dc3545;
}

.card h3 {
  margin-bottom: 0.125em;
}

@media (min-width: 38em) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 0 0 50%;
  }
}

@media (min-width: 62em) {
  .card {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 81em) {
  .card {
    flex: 0 0 25%;
  }
}
